/* .container{
    display: flex;
    margin: 20px;
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
} */

.chart-div{
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    width: auto;
    transition: 0.3s;
}

.chart-div:hover{
    transform: scale(1.2);
    background-color: #dddddd;
}

.chart-expl{
    margin: 20px;
    padding: 40px;
}
.chart-expl.left{
    text-align: left;
}
.chart-expl.right{
    text-align: right;
}

.chart-expl h3{
    color: rgb(184, 31, 28);
    font-weight: 500;
    text-align: right;
}

/* ===================== this part is not for charts. I am making counter ========================== */

.stats{
    background-color: rgba(213,165,78,0.6);
    color: rgb(128, 15, 13);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.inner_stats .numbers{
font-weight: 700;
font-size: 50px;
text-align: center;
}
.inner_stats p{
    margin-top: 13px;
    text-align: center;
}

@media (max-width: 768px) {
    .inner_stats{
        font-size: 12px;
        margin: 10px 30px 10px 30px;
    }
    .inner_stats .numbers{
        font-weight: 650;
        font-size: 35px;
    }
}