#web {
    max-width: 100%; 
    height: 960px; 
    position: relative; 
  }
  
  #center-sphere { 
    width: 275px; 
    height: 275px; 
    position: absolute; 
    left: 470px; 
    top: 342px; 
  }
  
  .sphere { 
    width: 175px; 
    height: 175px; 
    border-radius: 50%;
    position: absolute; 
    /* border: 2px rgb(115,166,183) solid; */
    border-radius: 50%;
    box-shadow: 1 1 0 3px rgba(103, 167, 187, 0.171);
    
    background: rgba(125,184,214, .2);
     
  }
  
  
  
  .one{left: 1000px; top: 380px;}
  .two{left: 930px; top: 500px;}
  .three{left: 830px; top: 590px;}
  .four{left: 710px; top: 630px;}
  .twelve{left: 575px; top: 640px;}
  .thirteen{left: 440px; top: 650px;}
  .fourteen{left: 300px; top: 650px;}
  
  .five{left: 75px; top: 400px;}
  .six{left: 150px; top: 275px;}
  .seven{left: 260px; top: 175px;}
  .eight{left: 395px; top: 125px;}
  .nine{left: 530px; top: 110px;}
  .ten{left: 675px; top: 100px;}
  .eleven{left: 810px; top: 100px;}

  
  .sp-text {
     -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    position: relative;
    top: 50px;
    left: 20px;
    padding: 5px;
    
  }
  
  .sphere:hover .text {
    top: 20px;
    left: 125px;
    text-align:justify-content;
    
  }
  
 
  
 
  

  
  .muscles {
    top: 70px;
    left: 20px;
  }
  
  #center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  }
  
  .sp-title {
     position: relative;
     top: 65px;
     left: 55px;
  }
  .sp-description {
     position: relative;
     top: 65px;
     left: 25px;
  }