#web {
    max-width: 100%; 
    height: 960px; 
    position: relative; 
  }
  
  #center-sphere { 
    width: 275px; 
    height: 275px; 
    position: absolute; 
    left: 450px; 
    top: 342px; 
  }
  
  .sphere { 
    width: 175px; 
    height: 175px; 
    border-radius: 50%;
    position: absolute; 
    /* border: 2px rgb(115,166,183) solid; */
    border-radius: 50%;
    box-shadow: 1 1 0 3px rgba(103, 167, 187, 0.171);
    transition: background-color 800ms ease-in-out;
    background: rgba(125,184,214, .2);
     transition:width 800ms, height 800ms, border-radius 800ms,left 800ms, top 800ms ;
    -moz-transition:width 800ms, height 800ms, border-radius 800ms,left 800ms, top 800ms;
    -ms-transition:width 800ms, height 800ms, border-radius 800ms,left 800ms, top 800ms;
    -o-transition:width 800ms, height 800ms, border-radius 800ms,left 800ms, top 800ms;
    -webkit-transition:width 800ms, height 800ms, border-radius 800ms,left 800ms, top 800ms;
  }
  
  .sphere:hover {
    transition: background-color 800ms ease-in-out;
    background: rgb(115,166,183);
    color: #ffffff;
    z-index: 999;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: 315px; 
    height: 315px;
  }
  
  .one{left: 1000px; top: 405px;}
  .two{left: 920px; top: 523px;}
  .three{left: 795px; top: 600px;}
  .four{left: 650px; top: 620px;}
  .five{left: 75px; top: 400px;}
  .six{left: 150px; top: 275px;}
  .seven{left: 260px; top: 175px;}
  .eight{left: 395px; top: 125px;}
  .nine{left: 530px; top: 110px;}
  .ten{left: 675px; top: 125px;}
  
  .sp-text {
     -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    position: relative;
    top: 65px;
    left: 45px;
  }
  
  .sphere:hover .text {
    top: 20px;
    left: 125px;
  }
  
  .sphere:hover .muscles{
    top: 20px;
    left: 82px;
  }
  
  .blurb {
    margin: 2.5em;
    color: rgba(255,255,255,0);
    -ms-transform: scale(.9); 
    -webkit-transform: scale(.9); 
    transform: scale(.9);
    visibility: hidden;
  }
  
  .sphere:hover .blurb {
     -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    color: rgba(255,255,255,1);
    visibility: visible;
  }
  
  .muscles {
    top: 70px;
    left: 20px;
  }
  
  #center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  }
  
  .sp-title {
     position: relative;
     top: 65px;
     left: 55px;
  }
  .sp-description {
     position: relative;
     top: 65px;
     left: 25px;
  }